.container {
    width: 100%;
}

.title {
    font-size: 2rem;
    color: var(--color-blue-dark);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 1.5rem;
}

.section {
    width: 100%;
    margin-bottom: 2.5rem;
}

.searchInput {
    border: 1px solid var(--color-border);
    padding: 1rem;
    border-radius: 1rem;
    min-width: 300px;
    outline: none;
}

.searchInput:focus {
    border-color: var(--color-border-focus);
}
