.authPage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    min-width: 350px;
}

.authTitle {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color: var(--color-dark-blue);
    margin-bottom: 1.5rem;
}

.authForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputField {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.inputField:focus {
    outline: 1px solid #2563eb;
}

.authSubmit {
    background-color: var(--color-orange);
    color: var(--color-dark-blue);
    width: 100%;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.authSubmit:hover {
    background-color: var(--color-orange-dark);
    transform: translateY(-1px);
}

.authSubmit:disabled {
    cursor: not-allowed;
    background-color: var(--color-orange-disabled);
}

.error {
    background-color: var(--color-red-light);
    color: var(--color-red);
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid var(--color-red);
}
