.container {
    width: 100%;
}

.detailsColumn {

}

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding-bottom: 1rem;
}

.strong {
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.detail {
    padding: 0.5rem 1rem;
    background-color: var(--color-background-dark);
    border-radius: 0.5rem;
}

.statusDetails {
    border-top: 1px solid var(--color-border);
    padding: 1rem 0;
}

.descriptionDetails {
    border-top: 1px solid var(--color-border);
    padding: 1rem 0;
}

.organizerDetails {
    border-top: 1px solid var(--color-border);
    padding-top: 1rem;
}
