.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (min-width: 640px) {
    .container {
        flex-direction: row;
    }
}


.detailsColumn {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.subHeader {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--color-primary-dark);
    margin-top: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--color-border);
}

.description {
    font-size: 0.875rem;
    color: #374151;
    line-height: 1.5;
    white-space: pre-wrap;
    margin-top: 0.25rem;
}
