.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow-hover);
}

.imageWrapper {
    width: 78px;
    height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--color-blue-pale);
}

.image {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    object-fit: cover;
    background-color: #f3f4f6;
}

.wrapper {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.district {
    color: var(--color-text);
    font-size: 0.9rem;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.infoWrapper {
    padding: 0.5rem 0.6rem;
    background-color: var(--color-background-dark);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.infoTitle {
    font-weight: 600;
    color: var(--color-blue-light);
}

.name {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--color-primary-dark);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.location {
    font-size: 0.875rem;
    font-weight: 500;
    color: #4b5563;
    margin: 0.1rem 0;
}

.email {
    font-size: 0.875rem;
    color: var(--color-primary-light);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
