.container {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.image {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--border-radius);
    background-color: #f3f4f6;
}

.name {
    font-size: 1.75rem;
    font-weight: 700;
}
.district {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text);
    padding: 0.5rem 0;
}

.contact {
    padding: 0.5rem 0;
    border-top: 1px solid var(--color-border);
    color: var(--color-text);
}

.contactDetails {
    padding: 0.6rem;
    background-color: var(--color-background-dark);
    border-radius: 0.5rem;
}

.contactDetails:last-of-type {
    margin: 0.5rem 0 1rem;
}

.detail {
    font-weight: 600;
    color: var(--color-blue-light);
}

.about {
    padding: 0.5rem 0;
    border-top: 1px solid var(--color-border);
    color: var(--color-text);
}

.description {
    font-size: 0.875rem;
    color: var(--color-text);
    line-height: 1.5;
    white-space: pre-wrap;
}

.camps {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid var(--color-border);
}

.title {
    color: var(--color-text);
}

.campList {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
}

.campItem {
    font-size: 0.875rem;
    color: var(--color-text);
    margin-bottom: 0.25rem;
}
