.header {
    background-color: white;
    box-shadow: var(--box-shadow);
    width: 100%;
}

.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.image {
    height: 3rem;
    width: 3rem;
}

.text {
    color: var(--color-blue-dark);
    font-size: 1.25rem;
    font-weight: 700;
}

.text span {
    color: var(--color-yellow);
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.welcome {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text);
}

.logout {
    border-radius: 0.5rem;
    background-color: var(--color-yellow);
    padding: 0.7rem 1.2rem;
    border: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.logout:hover {
    background-color: var(--color-yellow-dark);
    transform: translateY(-1px);
}
