.container {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.image {
    height: 4rem;
    width: 4rem;
}

.text {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-blue-dark);
}

.text span {
    color: var(--color-yellow);
}

.title {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.subtitle {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--color-text);
}

.form {
    background-color: white;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-text)
}

.input {
    padding: 0.75rem 1rem;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    color: var(--color-text);
    font-size: 0.9rem;
}

.input:focus {
    outline: none;
    border-color: var(--color-text);
}

.button {
    width: 100%;
    background-color: var(--color-yellow);
    color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.button:hover {
    background-color: var(--color-yellow-dark);
    transform: translateY(-1px);
}

.button:disabled {
    cursor: not-allowed;
    background-color: var(--color-yellow-disabled);
    transform: none;
}

.error {
    background-color: var(--color-red-light);
    color: var(--color-red);
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid var(--color-red);
}
