.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 1rem;
}

.modal {
    background-color: white;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 50rem;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
}

.closeButton {
    font-size: 1.75rem;
    font-weight: 300;
    background: none;
    border: none;
    cursor: pointer;
}

.content {
    padding: 1.5rem;
    overflow-y: auto;
}
