.nav {
    background-color: var(--color-blue-dark);
    width: 100%;
}

.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navLink {
    color: var(--color-blue-pale);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 0.5rem 1rem;
    border-bottom: 4px solid transparent;
    transition: color 0.2s, border-color 0.2s;
}

.navLink:hover {
    color: white;
}

.navLink.active {
    color: white;
    border-bottom-color: var(--color-yellow);
}
